@page "/request"

<nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar-brand mb-0 h1">Pending Requests</h1>
   
   
</nav>


<table class="table">
    <thead>
        <tr>
            <th>
                <div class="d-flex">
                    Item Name
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Quantity
                </div>
            </th>
            
            <th>
                <div class="d-flex">
                    Requested By
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Decision Made
                </div>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            IEnumerable<ItemRequest> inventoryList = _itemRequest;

            foreach (var InventoryItem in inventoryList)
            {

                if (!InventoryItem.ApprovalStatus) { 
                <tr>                
                    <td>@InventoryItem.ItemName</td>       
                    <td>@InventoryItem.Quantity</td>
                    <td>@InventoryItem.UserName</td>
                    <td>@InventoryItem.ApprovalStatus</td>

                  
                        
                        <td>
                            <button class="btn btn-success  @(Utils.CheckOpeningTime() ? "": "disabled")" type="button" @onclick="() => ApproveRequest(InventoryItem)">
                                <span class="oi oi-success" /> Approve
                            </button>
                            <button class="btn btn-danger mx-3 @(Utils.CheckOpeningTime() ? "": "disabled")" type="button" @onclick="() => DeclineRequest(InventoryItem)">
                                <span class="oi oi-danger" /> Decline
                            </button>
                        </td>
                </tr>
                }
            }
        }
    </tbody>
</table>





@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private List<InventoryItem> _inventory { get; set; }
    private List<ItemRequest> _itemRequest { get; set; }
    private InventoryItem _deleteInventory { get; set; }
    private InventoryItem _inventoryModel { get; set; }
    private User _user;
    private string _role;

    protected override void OnInitialized()
    {
        _itemRequest = InventoryService.GetAllRequestedItem();//_globalState.CurrentUser.Id
        _user = UsersService.GetById(_globalState.CurrentUser.Id);
        _role = _user.Role.ToString();
    }


    private void ApproveRequest(ItemRequest item) {
        if (Utils.CheckOpeningTime()) { 
            item.ApprovalStatus = true;
            item.ApprovedAt = DateTime.Now;
            item.Admin = _user.Username;
            InventoryService.UpdateByName(item.ItemName, item.ApprovedAt);
            InventoryService.EditRequestedItem(item.Id,  item.UserName, item.ItemName, item.Quantity, item.ApprovalStatus, item.ApprovedAt, item.Admin);
            GraphService.Create(item.ItemName, item.Quantity);
        }

    }

    private void DeclineRequest(ItemRequest item)
    {
        if (Utils.CheckOpeningTime())
        {
            item.ApprovalStatus = true;
            item.Quantity = 0;
            InventoryService.EditRequestedItem(item.Id, item.UserName, item.ItemName, item.Quantity, item.ApprovalStatus, item.ApprovedAt, item.Admin);
            InventoryService.RemoveRequestedItem(item.Id, item.UserName, item.ItemName, item.Quantity, item.ApprovalStatus);
        }
    }



    

}







